@charset "utf-8";

@media screen and ( max-width:600px )
{
/*****スマホ用*****/
/***共通***/
p {
  font-size : 1.3em;
  line-height : 2.0em;
  letter-spacing : 0.05em;
}

/****ヘッダー****/
.top_img {
  padding-top: 100px;
}

.logo_hidden {
  top: 100px;
}

header p{
  font-size : 1.2em;
  letter-spacing : 8px;
  height: 20px;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
}

header .nextpage {
  position: absolute;
  margin-top: 0px;
  bottom: 80px;
  left: 0;
  right: 0;
}

/****メイン****/
/*ナビ*/
#summary {
  padding-top: 67px;
  display: flex;
  flex-direction: column;
}

#summary h2 {
  width: 100%;
  font-size: 1.5em;
}

#summary p {
  width: 100%;
}

#summary .left {
  order: 1;
}
#summary .right {
  width: 100%;
  margin-top: 0px;
  margin-right: auto;
  order: 5;
}

#summary .h-right {
  text-align: left;
}

.right .img_line {
  margin-right: auto;
  margin-left: 0;
}

.img-right {
  position: static;
  top: 0;
  width: 100%;
  margin-top: 54px;
  margin-right: 0;
  margin-left: auto;
  order: 2;
}
.img-left {
  position: static;
  top: 0;
  width: 120%;
  margin-top: -30px;
  margin-bottom: 65px;
  margin-right: auto;
  margin-left: -20%;
  order: 4;
}

.img_arrow {
  position: static;
  top: 0;
  order: 3;
}

main .nextpage {
  width: 80%;
  margin-top: 90px;
  margin-bottom: 95px;
}

main .nextpage:hover {
  color: white;
  border: 1px solid white;
}

/*メニュー*/
#wrap {
  flex-direction: column;
}

#wrap img {
  display: block;
  height: 80px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.ttl {
  padding: 85px;
}

/***コンテンツ共通***/
#content1 h2, #content2 h2 {
    margin-top: 0px;
}

.c_topimg {
  width: 110px;
  margin-top: 30px;
  margin-bottom: 30px;
}

img.balloon1,
img.balloon2,
img.balloon3{
  display: none;
}

/*******レター*******/
#letters {
  position: relative;
  width: 260px;
  height: 641px;
  margin: 0 auto;
}

img.letter {
  width: 50px;
  height: auto;
}

.letter1 {
  top: 60px;
  left: 163px;
}
.letter2 {
  top: 146px;
  left: 9px;
}
.letter3 {
  top: 118px;
  left: 194px;
}
.letter4 {
  top: 202px;
  left: 208px;
}
.letter5 {
  top: 260px;
  left: 72px;
}
.letter6 {
  top: 284px;
  left: 205px;
}
.letter7 {
  top: 338px;
  left: 68px;
}
.letter8 {
  top: 388px;
  left: 207px;
}
.letter9 {
  top: 454px;
  left: 50px;
}
.letter10 {
  top: 500px;
  left: 208px;
}
.letter11 {
  top: 547px;
  left: 74px;
}

/*コンテンツ２*/

img.door {
  width: 75px;
  height: auto;
}

#doors {
  width: 280px;
  height: 110px;
  margin: 0 auto;
  margin-top: 80px;
}

.a, .b, .c {
  float: left;
  width: 60px;
  height: auto;
  margin-left: 0px;
  margin-right: 50px;
  padding: 0;
}
.c {
  margin-right:0px;
}

}
